<div class="container">
	<h1>Hello, {{username}}</h1>
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>Add New Memory</h2>
				</div>
				<div class="panel-body">
					<p>Refresh Your collection</p>
				</div>
				<div class="panel-footer">
					<a ui-sref="user.add_memory" class="btn btn-primary btn-block">Add</a>	
					
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>Your Memories</h2>
				</div>
				<div class="panel-body">
					<p>Remember Your most unforgettable moments</p>
				</div>
				<div class="panel-footer">
					<a ui-sref="user.memories" class="btn btn-danger btn-block">See</a>					
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>News feed</h2>
				</div>
				<div class="panel-body">
					<p>See what other users have visited</p>
				</div>
				<div class="panel-footer">
					<a ui-sref="user.news_feed" class="btn btn-success btn-block">News feed</a>	
				</div>
			</div>
		</div>

	</div>

	<div class="row">
		<h2>Your Recent Memories</h2>

	</div>

	<div class="row">
		<h2>Google Map</h2>
	</div>

	<div class="row">
		<button ng-click="logout()" type="button" class="btn btn-danger pull-right">Log out</a>	
		<div ng-show="status">
			{{status}}
		</div>
	</div>
</div>