<div class="container">

	<!-- status messages -->
	<div class="row">
		<div class="alert alert-success fade in" ng-show="status">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  {{status}}
		</div>
	</div>
	
	<div class="row">		
		<!-- add country -->
		<div class="col-sm-6">
			<div class="well">
				<h2>Add Country</h2>
				<form name="addcountryForm">
					<div class="form-group">
					    <label for="name">Name</label>
					    <input type="text" class="form-control" ng-model="countryName" placeholder="Name">
				  	</div>
				 	<div class="form-group">
				    	<label for="latitude">Latitude</label>
				    	<input type="number" step="any" class="form-control" ng-model="latitude" placeholder="Latitude">
				  	</div>
				  	<div class="form-group">
				    	<label for="longitude">Longitude</label>
				    	<input type="number" step="any" class="form-control" ng-model="longitude" placeholder="Longitude">
				  	</div>
					<!--
				  	<div class="form-group">
				    	<label for="longitude">Flag</label>
						<input type="file" ngf-select ng-model="flag" accept="image/*" ngf-max-size="1MB" required>
				  	</div>
					-->
			      	<div class="text-center">
					    <button ng-click="addCountry(countryName, latitude, longitude)" ng-disabled="addcountryForm.$invalid" class="btn btn-primary btn-block">Add</button>
				  	</div>
				</form>	
			</div><!-- end well -->		
		</div><!-- end add country -->

		<!-- list countries -->
		<div class="col-sm-6 well">

			<div class="page-header">
				<h1>Listed Countries <span class="badge">{{countries.length}}</span></h1>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Find Country..." ng-model="country">
					<span class="input-group-addon" ng-click="getCountry(country)">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</span>
				</div>
			</div>

			<ul class="list-group" ng-hide="selectedCountry">
			 	<li class="list-group-item" ng-repeat="country in countries">
			 		<a href="" ng-click="getCountry(country.name)">{{country.name}}</a>
			 	</li>
			</ul>

			<!-- when search is used -->
			<article class="panel panel-default" ng-show="selectedCountry">
		    	<div class="panel-heading">		    		    	
		      		<a href="/country/{{selectedCountry.name}}">{{selectedCountry.name}}</a>
		      		<button class="btn btn-danger pull right" ng-click="removeSearchResult()">X</button>
		      	</div>
		      	<div class="panel-body">
					<!-- country name -->
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">							
							    <label for="name">Name</label>
								<input type="text" class="form-control" ng-model="selectedCountry.name">
							</div>
						</div>							
					</div>

					<!-- latitude longitude -->
					<div class="row">
						<div class="col-sm-6">
							<label for="latitude">Latitude</label>
							<input type="number" class="form-control" ng-model="selectedCountry.latitude">
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="longitude">Longitude</label>
								<input type="number" class="form-control" ng-model="selectedCountry.longitude">								
							</div>
						</div>
					</div>
					
		      	</div>
		      	<!-- update delete -->
		      	<div class="panel-footer">
		      		<div class="form-group">
						<button class="btn btn-success btn-block" ng-click="updateCountry(selectedCountry._id, selectedCountry.name, selectedCountry.latitude, selectedCountry.longitude)">Update</button>		      	

						<button class="btn btn-danger btn-block" ng-click="deleteCountry(selectedCountry._id)">Delete</button>			      			
		      		</div>

		      	</div>
			</article>		
		</div><!-- end list countries -->

	</div><!-- end row -->

</div><!-- end container -->