<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#admin-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="admin.dashboard">ADMIN</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="admin-navbar">
            <ul class="nav navbar-nav">
                <li><a ui-sref="admin.cities">Cities</a></li>
                <li><a ui-sref="admin.countries">Countries</a></li>
                <li><a ui-sref="admin.users">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="admin.cities">Profile</a></li>
                <li><a ui-sref="admin.countries">Log out</a></li>  
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div ui-view></div>
</div>
