<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#user-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="user.dashboard">User</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="user-navbar">
            <ul class="nav navbar-nav">
                <li><a ui-sref="user.dashboard">Home</a></li>
                 <li class="dropdown">
                      <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Memories <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a ui-sref="user.memories">Your memories</a></li>
                          <li><a ui-sref="user.news_feed">News feed</a></li>
                      </ul>
                  </li>
                 <li class="dropdown">
                      <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Places <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a ui-sref="user.cities">Cities</a></li>
                          <li><a ui-sref="user.countries">Countries</a></li>
                      </ul>
                  </li>
                <li><a ui-sref="user.users">Users</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="One of these days...">
                </div>
                <button type="submit" class="btn btn-default">TBD</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="user.profile">Profile</a></li>
                <li><a ui-sref="user.countries">Log out</a></li>  
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div ui-view></div>
</div>
