<h1>Admin Users Ctrl</h1>

<div class="row">
	<div class="col-sm-6">
		<ul class="list-group">
		 	<li class="list-group-item" ng-repeat="user in users">
		 		<a href="" ng-click="">{{user.username}}</a>
		 		<p> {{user | memberSince}} days ago</p>
		 	</li>
		</ul>		
	</div>

	<div class="col-sm-6">
		<div ng-hide="selectedUser">
			display here selected user's information
		</div>
	</div>
</div>