<h1>Sign Up</h1>


<!-- trebati ce za provjeru dali password vec postoji -->
<div class="alert alert-danger fade in" ng-show="signupStatus">
<a class="close" data-dismiss="alert" href="#">&times;</a>
<p>{{signupStatus}}</p>
</div>

<div class="well">
	<form name="authForm" novalidate>
		<div class="form-group">
			<label>Username</label>
			<input name="username" class="form-control" ng-model="username" required />
		</div>
		<div class="form-group">
			<label>Password</label>
			<input name="password" type="password" class="form-control" ng-model="password" required />
		</div>
		<div class="form-group">
			<label>Repeat Password</label>
			<input name="repeatPassword" type="password" class="form-control" ng-model="repeatPassword" required />
		</div>
		<div class="text-center">
			<button ng-click="signup(username, password, repeatPassword)" ng-disabled="authForm.$invalid" class="btn btn-primary btn-block">Sign Up</button>
		</div>
	</form>

</div>