<h1>Log in</h1>

<div class="alert alert-danger fade in" ng-show="loginError">
<a class="close" data-dismiss="alert" href="#">&times;</a>
<p>{{loginError}}</p>
</div>

<div class="well">
	<form name="authForm" novalidate>
		<div class="form-group">
			<label>Username</label>
			<input name="username" class="form-control" ng-model="username" required />
		</div>
		<div class="form-group">
			<label>Password</label>
			<input name="password" type="password" class="form-control" ng-model="password" required />
		</div>

		<div class="text-center">
			<button ng-click="login(username, password)" ng-disabled="authForm.$invalid" class="btn btn-primary btn-block">Login</button>
		</div>
	</form>

</div>