<div class="container">
	<div class="jumbotron text-center">

	    <h1>Zorkan Memories</h1>
		<p>Save Your most precious moments</p>
		<div class="row">
			<div class="col-sm-6">
				<a ui-sref="login" class="btn btn-primary btn-block">Log in</a>	
			</div>		
			
			<div class="col-sm-6">
				<a ui-sref="signup" class="btn btn-danger btn-block">Sign up</a>
			</div>
		</div>

	</div>	
</div>
