<div class="container">
	
</div><!-- end container -->

<h1>{{countryName}}</h1>

	<!-- status messages -->
	<div class="row">
		<div class="alert alert-success fade in" ng-show="status">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  {{status}}
		</div>
	</div>

<article ng-repeat="city in cities">
	{{city.name}} {{city.numberOfVisits}}
</article>