<div class="container">
	
	<!-- status messages -->
	<div class="row">
		<div class="alert alert-success fade in" ng-show="status">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  {{status}}
		</div>	
	</div>

	<div class="row">
		<!-- add city -->
		<div class="col-sm-6 well">
			<h2>Add City</h2>
			<form name="addcountryForm">
				<div class="form-group">
				    <label for="name">Name</label>
				    <input type="text" class="form-control" ng-model="cityName" placeholder="Name">
			  	</div>
			 	<div class="form-group">
			    	<label for="latitude">Latitude</label>
			    	<input type="number" step="any" class="form-control" ng-model="latitude" placeholder="Latitude">
			  	</div>
			  	<div class="form-group">
			    	<label for="longitude">Longitude</label>
			    	<input type="number" step="any" class="form-control" ng-model="longitude" placeholder="Longitude">
			  	</div>
				<div class="form-group">
					<label for="country">Country</label>
					 <select class="form-control" ng-model="country" ng-options="country.name for country in countries">
					</select>
				</div>
		      	<div class="text-center">
				    <button class="btn btn-primary btn-block" ng-click="addCity(cityName, latitude, longitude, country._id)" ng-disabled="addCityForm.$invalid" >Add</button>
			  	</div>
			</form>				
		</div><!-- end add city -->

		<!-- list cities -->
		<div class="col-sm-6 well">
			<div class="page-header">
				<h1>Listed Cities <span class="badge">{{cities.length}}</span></h1>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Find City..." ng-model="city">
					<span class="input-group-addon" ng-click="getCity(city)">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</span>
				</div>
			</div>

			<!-- listing cities -->

			<ul class="list-group" ng-hide="selectedCity">
			 	<li class="list-group-item" ng-repeat="city in cities">
			 		<a href="" ng-click="getCity(city.name)">{{city.name}}</a>
			 	</li>
			</ul>

			<!-- selected city -->
			<article class="panel panel-default" ng-show="selectedCity">
		    	<div class="panel-heading">		    		    	
		      		<a href="/city/{{selectedCity.name}}">{{selectedCity.name}}</a>
		      		<button class="btn btn-danger pull right" ng-click="removeSearchResult()">X</button>
		      	</div>
		      	<div class="panel-body">
					<!-- country name -->
					<div class="row">
						<div class="col-sm-12">
						    <label for="name">Name</label>
							<input type="text" class="form-control" ng-model="selectedCity.name">
						</div>							
					</div>

					<!-- latitude longitude -->
					<div class="row">
						<div class="col-sm-6">
						<label for="latitude">Latitude</label>
							<input type="number" class="form-control" ng-model="selectedCity.latitude">
						</div>
						<div class="col-sm-6">
							<label for="longitude">Longitude</label>
							<input type="number" class="form-control" ng-model="selectedCity.longitude">
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<label for="latitude">Latitude</label>
							<select  class="form-control" ng-model="selectedCity.countryId">
					        	<option ng-repeat="country in countries" value="{{country._id}}">{{country.name}}</option>
					      	</select>							
						</div>
					</div>
					
		      	</div>
		      	<!-- update delete -->
		      	<div class="panel-footer">
					<button class="btn btn-success btn-block" ng-click="updateCity(selectedCity._id, selectedCity.name, selectedCity.latitude, selectedCity.longitude, selectedCity.countryId)">Update</button>		      	

					<button class="btn btn-danger btn-block" ng-click="deleteCity(selectedCity._id)">Delete</button>		
		      	</div><!-- end panel footer -->
			</article>		
		</div><!-- end list cities -->

	</div><!-- end row -->

</div><!-- end container -->