<div class="container">
	<h1>Add Memory</h1>
	<!-- status messages -->
	<div class="row">
		<div class="alert alert-success fade in" ng-show="status">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  {{status}}
		</div>	
	</div>

	<div class="well">
		<form name="addmemoryForm" novalidate>
		
		 	<div class="row">
		 		<div class="col-sm-6">
					<div class="form-group">
						<label for="country">Country</label>
						 <select class="form-control" ng-model="country" ng-change="filterCities(country)"
						 ng-options="country as country.name for country in countries"></select>
					</div>		 			
		 		</div>
		 		<div class="col-sm-6">
					<div class="form-group">
						<label for="city">City</label>
						 <select class="form-control" ng-model="city" 
						 ng-options="city as city.name for city in filteredCities">
   						 </select>
					</div>		 			
		 		</div>
		 	</div><!-- end row -->

		 	<div class="row">
		 		<div class="col-sm-12">
				  	<div class="form-group">
				    	<label for="startDate">Start Date</label>
				    	<input type="date" class="form-control" ng-model="startDate">
				  	</div>
					<div class="form-group">
				    	<label for="endDate">End Date</label>
				    	<input type="date" class="form-control" ng-model="endDate">
				  	</div>
			
					<div class="form-group">
						<label for="rating">Rating (1-5)</label>
				    	<input type="number" class="form-control" min="1" max="5" ng-model="rating">
					</div>
				  	<div class="form-group">
				    	<label for="review">Review</label>
				    	<textarea type="text" class="form-control" ng-model="review" placeholder="Start Your review"></textarea>
				  	</div>
					<div class="text-center">
						<button ng-click="addMemory(city, startDate, endDate, review, rating)" ng-disabled="addmemoryForm.$invalid" class="btn btn-primary btn-block">Add</button>
					</div>			 			
		 		</div> 		
		 	</div><!-- end row -->
		</form><!-- end form -->
	</div><!-- end well -->
</div><!-- end container -->